database_files/xml_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="DISH_ID" minOccurs="0"/>
              <xs:element type="xs:string" name="DISH_NAME" minOccurs="0"/>
              <xs:element type="xs:string" name="DISH_TYPE" minOccurs="0"/>
              <xs:element type="xs:string" name="DISH_IMAGE" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
